.panel {
	width: 100%;
	min-height: 4rem;
	gap: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#left,
#right {
	width: 30%;
	flex-shrink: 1;
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

#screen {
	width: -webkit-fill-available;
	width: -webkit-min-content;
	min-width: 15rem;
	flex-shrink: 1;
}
