@import 'styles/variables.scss';

html {
	font-size: 28px;
	font-family: 'Roboto', Arial, sans-serif;
	user-select: none;
}

*,
*:after,
*:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
