// COLORS
$black: #000000;
$white: #ffffff;
$grey-1: #111111;
$grey-2: #222222;
$grey-3: #333333;
$grey-4: #444444;
$grey-5: #555555;
$grey-6: #666666;
$grey-7: #777777;
$grey-8: #888888;
$grey-9: #999999;
$grey-a: #aaaaaa;
$grey-b: #bbbbbb;
$grey-c: #cccccc;
$grey-d: #dddddd;
$grey-e: #eeeeee;
$grey-f: #ffffff;

$main-color: #d92626;

$screen-color: #273427;
$case-color: $grey-2;
$case-text: rgba($white, 0.5);
